@import url('https://fonts.googleapis.com/css?family=Open+Sans:600,800');

body {
  font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
}

h1 {
  margin: 3rem 0rem 3rem 0rem;
}

.orange {
  background: #DE3D28;
}

.blue {
  background: #88aaff
}

.header-area {
  height: 100vh;
}

/* .section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

.navbar-dark .navbar-nav .nav-link a {
  color: white;
  text-transform: uppercase;
}

.navbar h1 {
  margin: inherit;
}

.container {
  max-width: 960px;
}

.content {
  flex: 1 0 auto;
}

.footer {
  color: white;
  background: #333;
  padding: 1rem 0 1rem 0;
  text-align: center;
  flex-shrink: 0;
}
